﻿@model Authorization.IdentityServer.Models.Register.RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}
<h1>Register</h1>
<hr />
<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <h2>Local Account</h2>
        </div>
        <div class="container col-md-6 col-md-offset-3">
            <form asp-controller="Account" asp-action="Register" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "form-label  form__label--with" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, string.Empty)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, new { @class = "form-label  form__label--with" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName, string.Empty)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Login, new { @class = "form-label  form__label--with" })
                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Login, string.Empty)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "form-label  form__label--with" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, string.Empty)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label  form__label--with" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, string.Empty)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "form-label  form__label--with" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, string.Empty)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Phone, new { @class = "form-label  form__label--with" })
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Phone, string.Empty)
                </div>
                @Html.HiddenFor(p => p.ReturnUrl)
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>