﻿@model Authorization.IdentityServer.Models.ResetPassword.ResetPasswordInputModel

@{
    ViewData["Title"] = "Новый пароль";
}

<h1>Reset password</h1>
<hr />
<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <h2>Local Account</h2>
        </div>
        <div class="container col-md-6 col-md-offset-3">
            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "form-label  form__label--with" })
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.OldPassword, string.Empty)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "form-label  form__label--with" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, string.Empty)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label  form__label--with" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, string.Empty)
                </div>
                @Html.HiddenFor(p => p.ReturnUrl)
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>